#avatar {
	display: block;
    width: 130px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#avatar:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.gallery {
	width: 100% ;
	height: auto ;
}

#resume {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
.filler-text {
	border: 1px white;
    padding: 25px;
    width: 50%;
    margin: auto;
}

h3 {
	text-align: center;
    text-transform: uppercase;
}
p {
    text-align: center;
    letter-spacing: 3px;
}

#intro {
	text-align: justify;
}

.footer {
	  background: #F8F9FA;
	  padding: 10px 0;
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}

.form-inline {
	margin: 0 auto;
}
/* CSS for the side by side image gallery */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#contact { 
	margin: 0 auto; 
	width:250px;
}
