#avatar {
	display: block;
    width: 130px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

.footer {
  background: #061D25;
  padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}